* {
  font-family: Arial, Helvetica, sans-serif;
}

.reto {
  display: flex;
  flex-direction: column;
}

.forms{
  display: flex;
  flex-direction: row;
}

.formObjetivo {
  width: 40vw;
}

.formObjetivo input[type="text"] {
  width: 40%;
}

td {
  display: inline-block;
  margin-right: 10px;
}

.msgeError{
  display: inline-block;
  padding: 0.5% 1%;
  background-color: rgba(255, 0, 0, .3);
  color: red;
  font-weight: bold;
}

